* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --vermelho: red;
    --branco:beige; 
    --laranjinha: rgb(255, 200, 97);
    --cor-principal: seagreen;
    --altura: 100px;
}

.cabeçalho {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items:center;
    background-color:blanchedalmond;
    height: 30vh;
    gap: 10px;
    background-color: var(--cor-principal);
}

.logo {
    border-radius: 60%;
    height: 120px;
    width: 120px;
}

.palavras {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:none;
    background-color: seagreen;
    color:aliceblue;
    font-size: larger;
    font-weight: 700px;
}
.nutricao {
    height: 40%;
    width: 50%;
}
.parteum {
    background-color: var(--laranjinha);
    display:flex;
}
.nome {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 500%;
    justify-content: space-between;
    align-self:center;
}

.saibamais {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: end;
    justify-content: right;
    color:white;
    background-color:rgb(30, 105, 171) ;
    font-weight: 700px;
}
.consulta {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:none;
    background-color: seagreen;
    color:aliceblue;
    font-size: larger;
    font-weight: 700px;
}
.partedoiss {
    border-radius: 10%;
    height: 500px;
    width: 550px;
    justify-content: center;
    text-align: center;
    border-style: none;
}
.foto {
    border-radius: 10%;
    height: 300px;
    width: 350px;
}
.apresentacao {
    height: 700px;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color: #008B8B;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}