<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/estilohome.css">
</head>
<body>
       <!-- Cabeçalho -->
       <header>
        <nav class="cabeçalho">
            <div class="logonutri">
            <img class="logo" src="static/img/nutrivita.jpg"
            alt="Logo da empresa"/> </div>
            <a href="index.html"><button class="palavras">home</button>
            </a>
            <a href= "servico.html"><button class="palavras"> serviços</button>
            </a>
            <a href="faleconosco.html">
            <button class="palavras"> sobre</button> 
             </a>
            </nav>
        </div>
    </header>
    <main>
        <div class="parteum">
        <img class="nutricao" src="static/img/nutrição.png">
        <h1 class="nome"> Dra. Regina Borges: saúde à sua porta! </h1>
        <nav> <a href="calculadora.html"> <button class="saibamais">
            Calculadora de IMC > </a>
        </button></nav>
        </div>
        <section class="apresentacao">
            <div class="partedois">
                <button class="partedoiss">
                    <img class="foto" src="static/img/alimentos.jpg" ></a>
                        <h2> A NutriVita ©, pela Nutricionista Regina
                             Borges, é uma clínica de nutrição que 
                             atende todo o tipo de público. Com anos
                              de experiência em trabalho, o consultório
                               oferece uma experiência individualizada
                                e profissional para seus pacientes, com
                                 a profissionalidade que apenas a NutriVita oferece!</h2>
                </button>
             </div>
            <div class="partedois">
                <button class="partedoiss">
                    <img class="foto" src="static/img/alimentos2.jpg" ></a>
                        <p class="consulta">
                            Marque sua consulta
                             <a href="faleconosco.html"> Aqui! </a> 
                        </p>
                </button>
             </div>
        </section>
    </main>
    <footer>
        <p>© 2024 Clínica de Nutricionismo Nutrivita. Todos os direitos reservados.</p>
    </footer>
</body>
</html>!