<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="static/css/estiloservico.css">
</head>
<body>
    <!-- cabeçalho -->
    <header>
        <nav class="cabeçalho">
            <div class="logonutri">
            <img class="logo" src="static/img/nutrivita.jpg"
            alt="Logo da empresa"/> </div>
            <a href="/"><button class="palavras">home</button>
            </a>
            <a href="/servico"><button class="palavras"> serviços</button>
            </a>
            <a href="/faleconosco">
            <button class="palavras"> sobre</button> 
             </a>
            </nav>
        </div>
    </header>
    <!-- end >> cabeçalho -->

    <!-- Conteúdo do site -->
    <main>
        <div class="imgRegina">
            <div>
                <h1>Nutricionista Regina Borges</h1>
            <br/>
                <p>Regina é uma nutricionista especializada em nutrição funcional, comprometida em abordar as necessidades únicas de seus pacientes através de uma visão holística da saúde. Com sua expertise em nutrição funcional, Regina personaliza planos alimentares e estratégias de estilo de vida para promover o equilíbrio físico, mental e emocional. Sua abordagem compassiva e focada no cliente a torna uma aliada valiosa na jornada de saúde e bem-estar de cada indivíduo que busca seus cuidados nutricionais.</p>
            </div>
            <img  src="static/img/regina.jpg" alt="nutricionista Regina">
        </div>

        <h2>Diferentes desafios, "Soluções para cada um!</h2>

        <div class="containerservicos">
            <div class="div1"><p>Gestão de peso</p></div>
            <div class="div2"><p>Performance Esportiva</p></div>
            <div class="div3"><p>Digestão e flora intestinal</p></div>
            
            <img src="static/img/51138312872_19796786a8_o-scaled.jpg.webp" alt="Frutas">

        </div>

        

    </main>
    <!-- end >> conteudo do site -->

    <!-- Rodapé -->
    <footer>
        <p>© 2024 Clínica de Nutricionismo Nutrivita. Todos os direitos reservados.</p>
    </footer>
    <!-- end >> rodapé -->
</body>
</html>